* {
  margin: 0;
  padding: 0
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  border: 3px solid black;
  display: flex;
}

.box {
  height: 10rem;
  width: 10rem;
}

.box1 {
  background: lightblue;
}

.box2 {
  background: lightcoral;
}

.box3 {
  background: lightcyan;
}

.box4 {
  background: lightsalmon
}

.box5 {
  background: lightgray;
}

.box6 {
  background: lightgreen;
}