/* GLOBAL STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-image: linear-gradient(120deg, #cfb253, #d1846e);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

/* BASIC PAGE STYLING */
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #d1846e;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #d1846e;
  color: white;
}
